# Consignes

Intégrer le fichier USvideos.csv qui représente un ensemble de 8000 vidéos Youtube. 

Merger le fichier US_category_id.json pour récupérer le nom des catégories. Il conviendra de bien spécifier l'ID du document.


# Questions 
- 1) Récupérer toutes les vidéos de la chaîne Apple.
- 2) Compter le nombre de catégories différentes
- 3) Si vous ne l'avez pas déjà fait, découper les tags en listes et mettre à jour les tags de chacun des documents avec une requête update.
- 4) Récupérer les vidéos les plus vues.
- 5) Compter le nombre moyen de vues en fonction de la catégorie.
- 6) Récupérer les chaines Youtube avec la plus grande moyenne de likes.

In [1]:
import pandas as pd
from pymongo import MongoClient

In [2]:
client = MongoClient("mongodb://mamadian:123azenbv@cluster0-shard-00-00.1e04h.mongodb.net:27017,cluster0-shard-00-01.1e04h.mongodb.net:27017,cluster0-shard-00-02.1e04h.mongodb.net:27017/stoackage?ssl=true&replicaSet=atlas-rajo3r-shard-0&authSource=admin&retryWrites=true&w=majority")
database = client['exercices']
collection = database['youtube']

In [3]:
df_youtube = pd.read_csv("./data/USvideos.csv")
df_youtube.head(5)

,video_id,title,channel_title,category_id,tags,views,likes,dislikes,comment_total,thumbnail_link,date
0,XpVt6Z1Gjjo,1 YEAR OF VLOGGING -- HOW LOGAN PAUL CHANGED Y...,Logan Paul Vlogs,24,logan paul vlog|logan paul|logan|paul|olympics...,4394029,320053,5931,46245,https://i.ytimg.com/vi/XpVt6Z1Gjjo/default.jpg,13.09
1,K4wEI5zhHB0,iPhone X — Introducing iPhone X — Apple,Apple,28,Apple|iPhone 10|iPhone Ten|iPhone|Portrait Lig...,7860119,185853,26679,0,https://i.ytimg.com/vi/K4wEI5zhHB0/default.jpg,13.09
2,cLdxuaxaQwc,My Response,PewDiePie,22,[none],5845909,576597,39774,170708,https://i.ytimg.com/vi/cLdxuaxaQwc/default.jpg,13.09
3,WYYvHb03Eog,Apple iPhone X first look,The Verge,28,apple iphone x hands on|Apple iPhone X|iPhone ...,2642103,24975,4542,12829,https://i.ytimg.com/vi/WYYvHb03Eog/default.jpg,13.09
4,sjlHnJvXdQs,iPhone X (parody),jacksfilms,23,jacksfilms|parody|parodies|iphone|iphone x|iph...,1168130,96666,568,6666,https://i.ytimg.com/vi/sjlHnJvXdQs/default.jpg,13.09

## Question 0

In [4]:
df_youtube['date'] = pd.to_datetime(df_youtube['date'], errors='coerce')
df_youtube = df_youtube.dropna(subset=['date'])


df_youtube.rename(columns={'video_id':'_id'}, inplace=True)

df_youtube = df_youtube.drop_duplicates(subset='_id', keep='last')

stock =df_youtube.to_dict(orient='records')

import json
with open('./data/US_category_id.json', 'r') as f:
    categ = json.load(f)

for video in stock:
    for cat in categ['items']:
        if video['category_id'] == int(cat['id']):
            video['category_name'] = cat['snippet']['title']

### Netoyer les données

analyse du types des données

In [4]:
df_youtube.dtypes

video_id           object
title              object
channel_title      object
category_id         int64
tags               object
views               int64
likes               int64
dislikes            int64
comment_total       int64
thumbnail_link     object
date              float64
dtype: object

Réajustement des types sur les colonnes

In [5]:
df_youtube['date'] = pd.to_datetime(df_youtube['date'],format="%d/%m", errors="coerce")
df_youtube['video_id'] = df_youtube['video_id'].astype(str)
df_youtube['title'] = df_youtube['title'].astype(str)
df_youtube['channel_title'] = df_youtube['channel_title'].astype(str)
df_youtube['tags'] = df_youtube['tags'].astype(str)
df_youtube['thumbnail_link']= df_youtube['thumbnail_link'].astype(str)

In [6]:
df_youtube.rename(columns={'video_id':'_id'}, inplace=True)

In [7]:
type(df_youtube['date'])

pandas.core.series.Series

Suppression des lignes avec valeurs null et doublon

In [8]:
df_youtube.drop_duplicates(subset = ['_id'])

,_id,title,channel_title,category_id,tags,views,likes,dislikes,comment_total,thumbnail_link,date
0,XpVt6Z1Gjjo,1 YEAR OF VLOGGING -- HOW LOGAN PAUL CHANGED Y...,Logan Paul Vlogs,24,logan paul vlog|logan paul|logan|paul|olympics...,4394029,320053,5931,46245,https://i.ytimg.com/vi/XpVt6Z1Gjjo/default.jpg,NaT
1,K4wEI5zhHB0,iPhone X — Introducing iPhone X — Apple,Apple,28,Apple|iPhone 10|iPhone Ten|iPhone|Portrait Lig...,7860119,185853,26679,0,https://i.ytimg.com/vi/K4wEI5zhHB0/default.jpg,NaT
2,cLdxuaxaQwc,My Response,PewDiePie,22,[none],5845909,576597,39774,170708,https://i.ytimg.com/vi/cLdxuaxaQwc/default.jpg,NaT
3,WYYvHb03Eog,Apple iPhone X first look,The Verge,28,apple iphone x hands on|Apple iPhone X|iPhone ...,2642103,24975,4542,12829,https://i.ytimg.com/vi/WYYvHb03Eog/default.jpg,NaT
4,sjlHnJvXdQs,iPhone X (parody),jacksfilms,23,jacksfilms|parody|parodies|iphone|iphone x|iph...,1168130,96666,568,6666,https://i.ytimg.com/vi/sjlHnJvXdQs/default.jpg,NaT
...,...,...,...,...,...,...,...,...,...,...,...
7898,BpGrq3LgbfA,Josie and The Pussycats ft. Cheryl Blossom | M...,BlackStardust,1,Riverdale - Josie and The Pussycats - CW - Che...,2205,11,0,0,https://i.ytimg.com/vi/BpGrq3LgbfA/default.jpg,NaT
7947,S9VIKOuZcds,My Sweet Jax (Tribute to a Cat),Hot Dad,23,cat|feline|pets|beloved|family member|grief|gr...,25037,2846,11,537,https://i.ytimg.com/vi/S9VIKOuZcds/default.jpg,NaT
7949,c74FjEqhCsc,Pistons LIVE Postgame 10.18.17: Stan Van Gundy,FOX SportsDetroit,17,[none],1280,11,0,0,https://i.ytimg.com/vi/c74FjEqhCsc/default.jpg,NaT
7952,a5NIg5yyHWo,Pawn Stars: An Original 1978 Superman Costume ...,HISTORY,24,history|history channel|history shows|history ...,400104,2432,123,386,https://i.ytimg.com/vi/a5NIg5yyHWo/default.jpg,NaT
7981,3VSa-oARk-w,Monument Valley 2 - Available on Android & iOS...,ustwo games,20,Monument Valley|Optical Illusions|Gaming|Mobil...,24075,189,2,23,https://i.ytimg.com/vi/3VSa-oARk-w/default.jpg,NaT

In [9]:
df_youtube = df_youtube.dropna(subset=['date'])

merge des deux Dataframes

In [9]:
stock=df_youtube.to_dict(orient='records')

In [10]:
import json
with open('./data/US_category_id.json', 'r') as f:
    categ = json.load(f)

for video in stock:
    for cat in categ['items']:
        if video['category_id'] == int(cat['id']):
            video['category_name'] = cat['snippet']['title']

In [11]:
df = pd.DataFrame(list(stock))

In [12]:
df.head()

,_id,title,channel_title,category_id,tags,views,likes,dislikes,comment_total,thumbnail_link,date,category_name
0,XpVt6Z1Gjjo,1 YEAR OF VLOGGING -- HOW LOGAN PAUL CHANGED Y...,Logan Paul Vlogs,24,logan paul vlog|logan paul|logan|paul|olympics...,4394029,320053,5931,46245,https://i.ytimg.com/vi/XpVt6Z1Gjjo/default.jpg,NaT,Entertainment
1,K4wEI5zhHB0,iPhone X — Introducing iPhone X — Apple,Apple,28,Apple|iPhone 10|iPhone Ten|iPhone|Portrait Lig...,7860119,185853,26679,0,https://i.ytimg.com/vi/K4wEI5zhHB0/default.jpg,NaT,Science & Technology
2,cLdxuaxaQwc,My Response,PewDiePie,22,[none],5845909,576597,39774,170708,https://i.ytimg.com/vi/cLdxuaxaQwc/default.jpg,NaT,People & Blogs
3,WYYvHb03Eog,Apple iPhone X first look,The Verge,28,apple iphone x hands on|Apple iPhone X|iPhone ...,2642103,24975,4542,12829,https://i.ytimg.com/vi/WYYvHb03Eog/default.jpg,NaT,Science & Technology
4,sjlHnJvXdQs,iPhone X (parody),jacksfilms,23,jacksfilms|parody|parodies|iphone|iphone x|iph...,1168130,96666,568,6666,https://i.ytimg.com/vi/sjlHnJvXdQs/default.jpg,NaT,Comedy

### Importer les données

In [5]:
collection.insert_many(stock)

## Question 1

In [6]:
cursor = collection.find({"channel_title":"Apple"})
list(cursor)

[{'_id': 'K4wEI5zhHB0',
  'title': 'iPhone X — Introducing iPhone X — Apple',
  'channel_title': 'Apple',
  'category_id': 28,
  'tags': 'Apple|iPhone 10|iPhone Ten|iPhone|Portrait Lighting|A11 Bionic|augmented reality|emoji|animoji|Face ID|Apple Pay|camera|smartphone',
  'views': 19707391,
  'likes': 381919,
  'dislikes': 69465,
  'comment_total': 0,
  'thumbnail_link': 'https://i.ytimg.com/vi/K4wEI5zhHB0/default.jpg',
  'date': datetime.datetime(1970, 1, 1, 0, 0),
  'category_name': 'Science & Technology'},
 {'_id': 'A9k88sMyiJM',
  'title': 'Apple Watch Series 3 + Apple Music — Roll — Apple',
  'channel_title': 'Apple',
  'category_id': 28,
  'tags': 'Apple|airpods|apple watch|apple watch series 3|apple watch cellular|apple watch 4g|apple music|40 million songs on your wrist|apple skateboard ad|apple train station ad|apple roll ad|apple watch skateboard ad|apple watch train station ad|apple watch roll ad|airpods skateboard ad|airpods train station ad|airpods roll ad|apple music skateboard ad|apple music train station ad|apple music roll ad|misbehaving',
  'views': 4112187,
  'likes': 26609,
  'dislikes': 8982,
  'comment_total': 0,
  'thumbnail_link': 'https://i.ytimg.com/vi/A9k88sMyiJM/default.jpg',
  'date': datetime.datetime(1970, 1, 1, 0, 0),
  'category_name': 'Science & Technology'},
 {'_id': 'REZl-ANYKKY',
  'title': 'iPhone 8 Plus — Portraits of Her  — Apple',
  'channel_title': 'Apple',
  'category_id': 28,
  'tags': 'Apple|new|iPhone|iPhone 8|iPhone 8 Plus|iOS 11|4.7-inch|5.5-inch|Portrait Lighting|Shot on iPhone|camera|iphonography|smartphone|This Strange Effect|The Shacks',
  'views': 183325,
  'likes': 1700,
  'dislikes': 570,
  'comment_total': 0,
  'thumbnail_link': 'https://i.ytimg.com/vi/REZl-ANYKKY/default.jpg',
  'date': datetime.datetime(1970, 1, 1, 0, 0),
  'category_name': 'Science & Technology'}]

## Question 2

In [8]:
value_distinct_categ = len(collection.distinct('category_id'))
print(value_distinct_categ)

16

## Question 3

## Question 4

In [9]:
cursor = collection.find()
df = pd.DataFrame(list(cursor))
df.sort_values(by="views", ascending = False).head(5)

,_id,title,channel_title,category_id,tags,views,likes,dislikes,comment_total,thumbnail_link,date,category_name
493,MBdVXkSdhwU,BTS (방탄소년단) 'DNA' Official MV,ibighit,10,BIGHIT|빅히트|방탄소년단|BTS|BANGTAN|방탄,41500672,2010366,78076,736179,https://i.ytimg.com/vi/MBdVXkSdhwU/default.jpg,1970-01-01,Music
25,tt2k8PGm-TI,ZAYN - Dusk Till Dawn ft. Sia,ZaynVEVO,10,Dusk Till Dawn|Pop|RCA Records Label|ZAYN feat...,36323498,1431683,28049,100661,https://i.ytimg.com/vi/tt2k8PGm-TI/default.jpg,1970-01-01,Music
1976,LunHybOKIjU,Eminem Rips Donald Trump In BET Hip Hop Awards...,BETNetworks,24,BET|BET Networks|BET Music|Black Entertainment...,33191594,982842,184310,337603,https://i.ytimg.com/vi/LunHybOKIjU/default.jpg,1970-01-01,Entertainment
578,SHq2qrFUlGY,Shakira - Perro Fiel (Official Video) ft. Nick...,shakiraVEVO,10,Shakira ft. Nicky Jam|Shakira ft. Nicky Jam Mu...,32136948,578266,43475,40071,https://i.ytimg.com/vi/SHq2qrFUlGY/default.jpg,1970-01-01,Music
1789,Q0CbN8sfihY,Star Wars: The Last Jedi Trailer (Official),Star Wars,24,star wars|the last jedi|trailer|official trail...,27909589,631087,22177,101673,https://i.ytimg.com/vi/Q0CbN8sfihY/default.jpg,1970-01-01,Entertainment

## Question 5

In [14]:
 # fonctionne
cursor = collection.aggregate([{"$group" : {"_id" : "$category_id", "averageByCategory" : {"$avg" : "$views"}}}])
list(cur)

[{'_id': 24, 'averageByCategory': 1059427.7735849055},
 {'_id': 22, 'averageByCategory': 892992.28515625},
 {'_id': 20, 'averageByCategory': 777213.0357142857},
 {'_id': 15, 'averageByCategory': 633906.4210526316},
 {'_id': 1, 'averageByCategory': 966547.2871287129},
 {'_id': 43, 'averageByCategory': 8726.0},
 {'_id': 2, 'averageByCategory': 622727.8648648649},
 {'_id': 23, 'averageByCategory': 1317200.7289719626},
 {'_id': 19, 'averageByCategory': 426492.22222222225},
 {'_id': 25, 'averageByCategory': 533575.1262626263},
 {'_id': 10, 'averageByCategory': 1442240.943283582},
 {'_id': 29, 'averageByCategory': 681178.2},
 {'_id': 27, 'averageByCategory': 550585.2659574468},
 {'_id': 17, 'averageByCategory': 618074.711409396},
 {'_id': 26, 'averageByCategory': 556002.6679389313},
 {'_id': 28, 'averageByCategory': 861563.6158940397}]

## Question 6

In [22]:
cursor = collection.aggregate([{"$group" : {"_id" : "$channel_title", "viewsAverage" : {"$avg" : "$views"}}}, {"$sort": {"viewsAverage":-1}},  {"$limit": 10}])
list(cursor)

[{'_id': 'ZaynVEVO', 'viewsAverage': 36323498.0},
 {'_id': 'BETNetworks', 'viewsAverage': 33191594.0},
 {'_id': 'shakiraVEVO', 'viewsAverage': 32136948.0},
 {'_id': 'ibighit', 'viewsAverage': 28268247.0},
 {'_id': 'Primitive Technology', 'viewsAverage': 15579127.0},
 {'_id': 'Alesso', 'viewsAverage': 14849524.0},
 {'_id': 'PTZtv', 'viewsAverage': 13752002.0},
 {'_id': 'jbalvinVEVO', 'viewsAverage': 13077467.0},
 {'_id': 'Logan Paul Vlogs', 'viewsAverage': 12521142.0},
 {'_id': 'Dude Perfect', 'viewsAverage': 12158903.5}]